<html>
<head>
	<title>This is a template</title>
	<!-- This is one way to include a style sheet in flask-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}"
</head>
<body>
	<p>
		<strong>Hello there, {{name}}!</strong>
	</p>
	{% if form.errors %}
	    <ul class="errors">
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}
	<form method="post">
		{{form.hidden_tag()}}
		{{form.name.label}}
		{{form.name}}
		{{form.email.label}}
		{{form.email}}
		<input type="submit" />
	</form>
</body>
</html>